<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><%= @wiki.name %> Collaborators:</h1>
			<% @collaborators.each do |c| %>
				<p><%= c.user.email %> - <%= link_to "remove", wiki_collaborator_path(@wiki, c), method: :delete %> </p>
				
			<% end %>

			<%= link_to "Add a Collaborator to this Wiki", new_wiki_collaborator_path(@wiki) %>
			<!-- 
				1 - Form for 
				2 - Inside the form loop through all users
				3 - Display each one on each line
				4 - Checkbox for each user
				5 - Create a check to se if they are already a user, if so the box should be checked
				6 - 
		</div>
	</div>
</div>
