// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "welcome.css.scss";

#upgrade {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	h4 {
		color: $text;
		font-size: 2em;
		line-height: 1.6em;
		padding: 3em 0 2em;
	}
	a {
		@include button ($blue, $white, 1em 3em);
		font-size: 1.5em;
		@include transition (.4s);
		&:hover {
			background-color: darken($blue, 15%);
			@include transition (.4s);
			text-decoration: none;
		}
	}
}