@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import "bootstrap";

$white:                 			 #fafafa !default;
$black: 											 #2E2E2E !default;
$light: 											 #f3f2f0 !default;
$purple: 											 #AF9DAC !default;
$grayPurple: 								   #C6BBBD !default;
$red: 											   #C8676B !default;
$gray: 											   #63605E !default;
$blue: 												 #50AEC5 !default;
$brown: 											 #D0A570 !default;


@mixin border-radius ($px) {
	-webkit-border-radius: $px;
	-moz-border-radius: $px;
	border-radius: $px;
}

@mixin transition ($seconds) {
	-webkit-transition: $seconds;
	-moz-transition: $seconds;
	-o-transition: $seconds;
	transition: $seconds;
}

@mixin button ($bg_color, $color, $padding) {
	background-color: ($bg_color);
	border: none;
	color: $color;
	padding: ($padding);
	@include border-radius(2px);
	@include transition (.4s);
	&:hover {
		text-decoration: none;
		background-color: darken($bg_color, 5%);
		color: $color;
		@include transition (.4s);
	}
}

@mixin ghost-button ($color, $font, $seconds-off, $seconds-on) {
	border: 2px solid $color;
	@include border-radius(2px);
	padding: 1em 3em;
	display: inline-block;
	margin: 2em 0;
	font-size: $font;
	@include transition ($seconds-off);
	&:hover {
		text-decoration: none;
		background-color: $color;
		color: $white;
		@include transition ($seconds-on);
	}
}

@mixin image ($image) {
	background-image: image-url($image);
	width: 100% !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: 50% 50%;
}

@mixin font-smoothing ($value: on) {
  @if $value == on {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
  }
}
/* Usage
	.dark-background-on-light-text {
    @include font-smoothing(off);
	}

	.light-on-dark {
    @include font-smoothing(on);
	} */

/* Site-Wide Modification
================================================== */
.alert {
	margin-bottom: 0;
}

::-moz-selection { 
	color: $white;  
	background: $blue !important; 
}
::selection { 
	color: $white;  
	background: $blue !important; 
}

.alert {
	margin-bottom: 0;
	padding: 1.5em 2em;
	border: none;
	@include border-radius(0px);
	font-size: 1.5em;
	font-family: 'Source Sans Pro', 'sans-serif';
	@include font-smoothing(on);
}
.alert-success {
	background-color: $purple;
	color: $white;
}
.alert-info {
	background-color: $blue;
	color: $white;
}
.alert-warning {
	background-color: $white;
	color: $red;
}
.alert-danger {
	background-color: $red;
	color: $white;
}

/* Home Page
================================================== */
nav.navbar {
	background-color: $light;
	border: none;
	@include border-radius(0);
	font-family: 'Source Sans Pro', 'sans-serif';
	@include transition (.4s);
	li.nav a {
		padding: 2.5em 1.5em;
		margin: 0 .25em;
	}
	#blocipedia-nav {
		li.nav.active a {
			background-color: $blue;
			color: $white;
		}
	}
	a.navbar-brand, ul.nav a {
		color: $gray;
		top: 0px;
		&:hover, &:active {
			@include transition (.4s);
			background-color: $blue;
			color: $white;
		}
	}
	#logo {
		background-color: $purple;
		padding: 1em;
		@include border-radius(50%);
		margin: 1em 2em;
		line-height: .4em;
		color: $white;
		font-size: 1.5em;
		@include transition (.4s);
		&:hover {
			background-color: darken($purple, 15%);
			@include transition (.4s);
		}
	}
}


/* Home Page
================================================== */
div.home-big-image {
	@include image ('home-note.jpg');
	padding: 12em 0;
	text-align: center;
	color: $white;
	font-family: 'Source Sans Pro', 'sans-serif';
	h2 {
		padding-bottom: 1em;
		font-size: 1.5em;
	}
	#home-call-above-fold {
		padding: 3em 0;
		a {
			font-size: 1.8em;
			@include button ($blue, $white, 1em 2.5em);
		}

	}
}

div.benefits {
	text-align: center;
	padding: 8em 0;
	font-family: 'Source Sans Pro', 'sans-serif';
	background-color: $light;
	color: $gray;
	div.benefit-item {
		padding: 0 2.8em;
		hr {
			border-top: 1px solid lighten($gray, 50%);
			margin: 2em 0;
		}
		span.glyphicon {
			font-size: 3em;
			color: lighten($gray, 10%);
		}
		h3 {
			margin-top: 1em;
			font-size: 1.5em;
		}
		p {
			padding: 0 1em;
			font-size: 1.1em;
		}
	}		
}

div.choose-plan {
	padding: 10em 0;
	p {
		font-family: 'Source Sans Pro', 'sans-serif';
		font-size: 1.6em;
		font-weight: 300;
		color: $gray;
	}
	a {
		@include ghost-button ($red, 1.5em, .4s, .4s);
		color: $red;
	}
	div.paid, div.free {
		margin-bottom: 20em;
	}
}