<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Congratulations <%= current_user.name.present? ? current_user.name : current_user.email %>, you now have access to preium wikis!</h3>
		</div>
	</div>
</div>