<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Created by Lauralee Flores. Learn about me <%= link_to "on my personal site", "http://lauraleeflores.com/about" %>, <%= link_to "on github", "https://github.com/flores8" %>, or <%= link_to "on LinkedIn", "https://www.linkedin.com/in/lauraleeflores" %>.</p>
			</div>
				
		</div>
	</div>
</footer>